/* The styles in this css file were added because:
  
  1. Several Material-UI styling needed overidding, as seen below
  2. Some css names are not supported in TAILWIND 2.0

 */

.MuiInputBase-input,
.MuiTypography-root {
  font-family: "Google Sans", "Segoe UI", sans-serif !important;
}

.MuiSvgIcon-root {
  font-size: 1.3rem !important;
}

.horizontal_Line {
  display: flex;
  flex-direction: row;
}

.horizontal_Line:before,
.horizontal_Line:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #e1e1e1;
  margin: auto;
}
.horizontal_Line::before {
  margin-right: 10px;
}
.horizontal_Line::after {
  margin-left: 10px;
}

/* SCROLL BAR, ALL BROWSERS */

.scrollSection {
  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: white white;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.35rem !important;
  }

  *::-webkit-scrollbar-thumb {
    background: white !important;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }
}

.py-005 {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.MuiPagination-ul {
  a.MuiButtonBase-root:hover {
    color: #0d065f;
  }
}

li.recharts-legend-item {
  line-height: 1.6rem;
}

.uniqueBtn {
  .MuiPagination-ul {
    li:nth-last-child(2),
    li:nth-child(2) {
      position: fixed;
      top: 40%;
      @media screen and (max-height: 480px) {
        top: 60%;
      }
      border-radius: 50%;
      box-shadow: 0px 3px 10px rgba(13, 6, 95, 0.12);
      button {
        border: 2px solid #0d065f;
        border-radius: 50%;
        padding: 28px 20px !important;
        @media screen and (max-width: 816px) {
          padding: 22px 14px !important;
        }

        margin: 0px !important;
        svg {
          font-size: 2rem !important;
        }
      }
    }
    li:nth-child(2) {
      left: 6%;
      @media screen and (min-width: 1600px) {
        left: 11%;
      }
    }
    li:nth-last-child(2) {
      right: 6%;
      button[disabled] {
        display: none;
      }
      @media screen and (min-width: 1600px) {
        right: 11%;
      }
    }
  }
}
.openModalNextBtn {
  right: 6%;
  top: 40%;
  @media screen and (min-width: 1600px) {
    right: 11%;
  }
  @media screen and (max-height: 480px) {
    top: 60%;
  }
}

.Mui_Picture_Label {
  .MuiIconButton-colorPrimary:hover {
    background-color: rgba(13, 6, 95, 0.4);
  }
}
