/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --awesumBlue: #0d065f;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 1rem;
  font-family: "Google Sans", "Segoe UI", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:focus {
  outline: none;
}
@media screen and (max-width: 640px) {
  :root {
    font-size: 14px;
  }
}
